body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main input {
  height: 30px;
  width: 70px;
}
main {
  display: flex;
  justify-content: space-around;
}
section {
  margin-top: 300px;
  box-shadow: 1px 1px 10px grey;
}
section h3 {
  color:whitesmoke;
}
button {
  height: 50px;
  width: 150px;
  font-size: larger;
  font-weight: bold;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
